.Tabla {
    margin: 10px;
    background-color: #888;
    color: aliceblue;
}

.Tabla th {
    font-weight: 700;
    font-size: large;
}

.Tabla td:hover {
    font-weight: 700;
    font-size: large;
    color: aliceblue;
    list-style-type: none;
    text-decoration: none;
}